---
eleventyExcludeFromCollections: true
---

<h1>Docs</h1>
<ul>
  {%- for article in collections.doc -%}
  <li>
    <a href="./{{ article.fileSlug }}/">
      {{ article.fileSlug }}
    </a>
  </li>
  {%- endfor -%}
</ul>