<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--
  <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
  -->

  <style>
    @font-face {
      font-family: 'Roboto Mono';
      src: url('/static/roboto_mono.ttf') format('truetype');
    }


    body {
      max-width: 800px;
      margin: 0 auto;
      color: #262626;
      font-family: 'Roboto Mono', monospace;
    }

    code[class|="language"] {
      border: 1px solid #E5E7EB;
      border-radius: .5rem;
      background-color: #F6F8FA;
    }
  </style>

  <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/github.min.css">
  <script src="//unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>

<body>
  {{ content | safe }}
</body>

</html>